@import 'imports/reset';

@import 'imports/typographica';  

.wrapper{
    position: relative;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

section{
    padding: 100px 0;
}

@import './imports/section__info';

.col{
    padding: 0 10px;
}

@import 'imports/btn';

@import 'imports/header';

@import 'imports/top';

@import 'imports/values';

@import 'imports/about';

@import 'imports/skills';

.resume{
    text-align: center;
    background: #f2f2f2;
    p{
        padding: 0 8%;
    }
}

@import './imports/education';

.sometext{
    text-align: center;
    background: #f2f2f2;
    p{
        font-size: 24px;
        padding: 0 8%;
    }
    .switch-slide {
        &__dot {
            margin-bottom: 0;
            margin-right: 5px;
            display: inline-block;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}

@import './imports/portfolio';

@import './imports/contacts';

